<% include Partials/header.ejs %>
  <body>
  
    
    <h2>Current Weather in <%= city %>, <%= state %>: <span class="temp"><%= temp %> °F</span></h2>

    <h2> Feels Like: <span class="temp"> <%= feelsLike %> °F </span></h2> 

    <h2> Conditions: <%= summary %> </h2>

    <% if (icon === 'clear-day') { %>
          <img src="/images/SCI_sun.png"> 
      <% } %>

    <% if (icon === 'clear-night') { %>
          <img src="/images/SCI_clear_night.png"> 
    <% } %>

    <% if (icon === 'rain') { %>
          <img src="/images/SCI_rain.png"> 
    <% } %>

    <% if (icon === 'snow') { %>
          <img src="/images/SCI_snow.png"> 
    <% } %>

    <% if (icon === 'cloudy') { %>
          <img src="/images/SCI_cloudy.png"> 
    <% } %>

    <% if (icon === 'fog') { %>
          <img src="/images/SCI_cloudy.png"> 
    <% } %>

    <% if (icon === 'partly-cloudy-day') { %>
          <img src="/images/SCI_partly_sun.png"> 
    <% } %>

    <% if (icon === 'partly-cloudy-night') { %>
          <img src="/images/SCI_cloudy_night.png"> 
    <% } %>


    <div class = "daily">
        <table class = "center fill padded">
              <thead>8 Day Forecast</thead>
              <% forecast.forEach(function(data, index) { %>
              <tbody class = daily>
              <tr>
                <td><strong><%= moment.unix(data.time).format('dddd, MMM Do') %></strong></td>
              </tr>
              <tr>
                <td> High: <%= Math.round(data.temperatureMax) %> °F </td>
                <td> Low: <%= Math.round(data.temperatureMin) %> °F</td>
                <td> Chance Of Rain: <%= parseInt(data.precipProbability * 100) %>% </td>
              </tr>
             

        <% }); %>
        </tbody>
        </table>
    </div>

     <a class="a:hover" href="/">Back to home</a>
    
  </body>

  <% include Partials/footer.ejs %>

</html>
