<% include Partials/header.ejs %>
<body>

 <h2>Past Weather in <%= city %>, <%= state %> on <%= date %>: <span class="temp"><%= temp %> °F</span> </h2>
 


    <h2> Conditions: <%= summary %> </h2>
    
    <% if (icon === 'clear-day') { %>
          <img src="/images/SCI_sun.png"> 
      <% } %>

    <% if (icon === 'clear-night') { %>
          <img src="/images/SCI_clear_night.png"> 
    <% } %>

    <% if (icon === 'rain') { %>
          <img src="/images/SCI_rain.png"> 
    <% } %>

    <% if (icon === 'snow') { %>
          <img src="/images/SCI_snow.png"> 
    <% } %>

    <% if (icon === 'cloudy') { %>
          <img src="/images/SCI_cloudy.png"> 
    <% } %>

    <% if (icon === 'fog') { %>
          <img src="/images/SCI_cloudy.png"> 
    <% } %>

    <% if (icon === 'partly-cloudy-day') { %>
          <img src="/images/SCI_partly_sun.png"> 
    <% } %>

    <% if (icon === 'partly-cloudy-night') { %>
          <img src="/images/SCI_cloudy_night.png"> 
    <% } %>

    

     <a class="a:hover" href="/">Back to home</a>
    









</body>
<% include Partials/footer.ejs %>
</html>