
<% include Partials/header.ejs %>


<h2 class="text-center">Search Historic Weather Data:</h2>
      <form action='/timeMachineResults' method="POST">
        <input type="text" name="location" placeholder="Enter Zip" />
        <input type="date" name="date" />
        <button type="submit" name="action">Check Weather</button>
      </form>


     <a class="a:hover" href="/">Back to home</a>









<% include Partials/footer.ejs %>
</html>
