body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover {
  cursor:pointer; font-weight:bold;
}

table {border-collapse:collapse}
tbody tr:hover {background-color:#fbf6d9}
thead tr {background-color:#f1f1f1}
tbody tr {border-bottom:2px solid #f1f1f1}
td, th {padding: 6px; text-align: left; width: 150px; vertical-align:top}
thead th {vertical-align:bottom}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:before,
[data-tooltip]:after {
  display: none;
  position: absolute;
  top: 0;
}

[data-tooltip]:before {
  border-bottom: .6em solid #09f;
  border-bottom: .6em solid rgba(0,153,255,0.8);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  left: 20px;
  margin-top: 1em;
}

[data-tooltip]:after {
  background-color: #00B7FF;
  background-color: rgba(0,153,255,1);
  border: 4px solid #00B7FF;
  border: 4px solid rgba(0,153,255,1);
  border-radius: 7px;
  color: #ffffff;
  content: attr(data-tooltip-label) ":\A" attr(data-tooltip-message);
  left: 0;
  margin-top: 1.5em;
  padding: 5px 15px;
  white-space: pre-wrap;
  width: 100px;
}

[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
  display: block;
}


.title {
  font-family: 'Marcellus SC', serif;
  font-size: 50px;
}

.temp {
  color: Gainsboro;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    padding-left: 10px;
}

.daily {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
}

h1, h2, h3, form {
  align-self: center;
}
footer {
  margin-top: 200px;
  padding-top: 50px;
  font-size: 12px;
}

.rounded {-moz-border-radius:5px; border-radius:5px}
.padded {padding:10px 20px}
.center {text-align:center; margin-left:auto; margin-right:auto}
.center>div {text-align:left}
.right {right:0; text-align:right}
.middle div {vertical-align:middle}
.bottom div {vertical-align:bottom}
.xscroll {overflow-x:scroll !important}
.yscroll {overflow-y:scroll !important}
.nowrap {white-space:nowrap; overflow-x:hidden}
.fill {width:100%}
.lifted {box-shadow:5px 5px 10px #666}
.relative {position:relative}
.relative>div {position:absolute}
.spaced {margin-bottom:20px; margin-top:20px}
.hidden {display:none !important}

/*** tooltips from http://codepen.io/trezy/pen/Khnzy ***/
